.detailBackground {
    width: 36%;
    height: 650px;
    background-color: blueviolet;
    border-radius: 0 0 200px 200px;
    position: absolute;
    top: -650px;
    animation: slideDown 1s ease-out forwards;
}

@keyframes slideDown {
    0% {
        top: -650px;
    }
    100% {
        top: 0;
    }
}

.phoneImage {
    position: absolute;
    top: 100px;
    left: 30%;
    height: 450px;
    background-color: white;
    border-radius: 35px;
}

.chatDetailControlls {
    position: absolute;
    top: 126px;
    left: 31.1%;
    display: flex;
    background-color: blueviolet;
    height: 40px;
    width: 195px;
    border-radius: 8px 8px 0 0;
}

.chatBackButton {
    border: none;
    background-color: inherit;
    cursor: pointer;
    border-radius: 8px 0 0 0;
}

.backArrowImage, .fwdArrowImage {
    background-color: inherit;
    height: 18px;
}

.chatDetailTitle {
    color: white;
    padding: 7px 0 0 10px;
    font-size: 20px;
    cursor: pointer;
}

.chatDetailContent {
    position: absolute;
    top: 167px;
    left: 31.2%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 326px;
    width: 190px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.chatDetailContent::-webkit-scrollbar {
    display: none;
}

.chatDetailProfilePicture {
    max-height: 18px;
    max-width: 18px;
    border-radius: 9px;
    padding: 0 5px;
}

.chatImageSent {
    max-width: 40px;
    max-height: 40px;
    border-radius: 10px;
}

.myMessage, .otherMessage {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 4px;
    border-radius: 10px;
}

.otherMessage {
    align-items: flex-start;
    margin-right: 45px;
    margin-left: 8px;
    background-color: beige;
}

.myMessage {
    align-items: flex-end;
    margin-right: 8px;
    margin-left: 45px;
    background-color: ivory;
}

.messageInnerContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.chatDetailSenderContainer {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 12px;
    color: gray
}

.chatDetailMessageText {
    margin: 3px;
    font-size: 13px;
}

.sendMessageContainer {
    display: flex;
    align-items: center;
    position: absolute;
    left: 31.3%;
    top: 495px;
}

.sendMessageInput {
    border-radius: 10px;
    border: none;
    width: 120px;
    padding-left: 8px;
}

.sendMessageInput:focus {
    outline: none;
}

.customFileButton {
    color: gray;
    font-size: 20px;
    border: none;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: inherit;
}

.sendMessageButton {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    cursor: pointer;
    background-color: gray;
}

